#employees {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 5px;
  background-color: #9e9b68;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #414066;
  color: white;
  height: auto;
  width: auto;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}
.card p {
  margin: 3px;
}

.card .reminder {
  color: lime;
  font-size: small;
  margin: 5px;
}
h3 {
  margin: 0;
}
