html {
  height: 100vh;
  width: 100vw;
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #aaa95a;
  color: black;
  margin: 0;
  width: 100%;
  display: flex;
}



footer div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
