html {
  height: 100vh;
  width: 100vw;
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #aaa95a;
  color: black;
  margin: 0;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #82816d;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
